<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="Babbage">Baggage</a></li>
        <li><a href="Berners-lee">Berners-lee</a></li>
        <li><a href="Clarke" class="active">Clarke</a></li>
        <li><a href="Hamilton">Hamilton</a></li>
        <li><a href="Hopper">Hopper</a></li>
        <li><a href="Lovelace">Lovelace</a></li>
        <li><a href="Turing">Turing</a></li>
    </ul>
    
    <h1>Edmund M. Clarke</h1>
    <img src="../img/Clarke.jpg" alt="Clarke">
    <p>Principalmente reconocido por haber desarrollado el método conocido como "model checking", para verificar diseños de software o hardware. Clarke fue el Profesor FORE Systems de Ciencias de la Computación en la Universidad Carnegie Mellon.</p>

</body>
</html>