<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="Babbage">Baggage</a></li>
        <li><a href="Berners-lee">Berners-lee</a></li>
        <li><a href="Clarke">Clarke</a></li>
        <li><a href="Hamilton">Hamilton</a></li>
        <li><a href="Hopper">Hopper</a></li>
        <li><a href="Lovelace">Lovelace</a></li>
        <li><a href="Turing">Turing</a></li>
    </ul>
    
    <h1>Hola</h1>

</body>
</html>