<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="Babbage">Baggage</a></li>
        <li><a href="Berners-lee">Berners-lee</a></li>
        <li><a href="Clarke">Clarke</a></li>
        <li><a href="Hamilton">Hamilton</a></li>
        <li><a href="Hopper">Hopper</a></li>
        <li><a href="Lovelace" class="active">Lovelace</a></li>
        <li><a href="Turing">Turing</a></li>
    </ul>
    
    <h1>Ada Lovelace</h1>
    <img src="../img/lovelace.jpg" alt="Lovelace">
    <p>Nacida el 10 de diciembre de 1815, Ada Lovelace es considerada por muchos la primera programadora de la historia. Matemática y escritora inglesa, hija del famoso poeta Lord Byron, revolucionó la ciencia con sus conocimientos matemáticos ideando, con el apoyo de sus amigos inventores, el primer programa informático.</p>

</body>
</html>