<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="Babbage">Baggage</a></li>
        <li><a href="Berners-lee">Berners-lee</a></li>
        <li><a href="Clarke">Clarke</a></li>
        <li><a href="Hamilton">Hamilton</a></li>
        <li><a href="Hopper">Hopper</a></li>
        <li><a href="Lovelace">Lovelace</a></li>
        <li><a href="Turing">Turing</a></li>
    </ul>
    
    <h1>Alan Turing</h1>
    <img src="../img/turing.jpg" alt="Alan Turing">
    <p>Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936). Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina Enigma, y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park.</p>

</body>
</html>